### Codio Activity 19.2: Models with User Feedback Values

**Expected Time = 30 minutes**

**Total Points = 20**

This activity takes a similar approach to using linear regression in filling in missing ratings.  Here, you assume the users have been asked to provide different `slick` and `lofi` scores when signing up for your streaming service.  The goal is to use these ratings across users to build regression models with `slick` and `lofi` as input and each artist as a target.

#### Problems

- [Problem 1](#-Problem-1)
- [Problem 2](#-Problem-2)

In [8]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

#### The Data

Below, the Data is loaded and displayed.  The `slick` and `lofi` columns contain user input values for their preferences accordingly.

In [9]:
reviews = pd.read_csv("./data/user_rated.csv", index_col=0)

In [10]:
reviews

,Michael Jackson,Clint Black,Dropdead,Anti-Cimex,Cardi B,slick,lofi
Alfred,3.0,4.0,NaN,4.0,4.0,5,5
Mandy,NaN,9.0,NaN,3.0,8.0,7,4
Lenny,2.0,5.0,8.0,9.0,NaN,3,6
Joan,3.0,NaN,9.0,4.0,9.0,5,5
Tino,1.0,1.0,NaN,9.0,5.0,1,8

[Back to top](#-Index)

### Problem 1

#### Michael Jackson Model

**10 Points**

To begin, create `X` and `y` based on `Michael Jackson` as a target.  Use this to provide a rating for Mandy and determine their user vector based on `slick` and `lofi`.  Assign this to a copy of the `reviews` DataFrame called `df_mandy` below.

In [11]:
### GRADED
features = ["slick", "lofi"]
target = "Michael Jackson"
user = "Mandy"
X = reviews.query("index != '%s'" % user)[features]
y = reviews.query("index != '%s'" % user)[target]
mj_lr = LinearRegression().fit(X, y)
newx = reviews.query("index == '%s'" % user)[features]
mandy_predict = mj_lr.predict(newx)
df_mandy = reviews.copy()
df_mandy.loc[[user], target] = mandy_predict

# ### ANSWER CHECK
df_mandy

,Michael Jackson,Clint Black,Dropdead,Anti-Cimex,Cardi B,slick,lofi
Alfred,3.0,4.0,NaN,4.0,4.0,5,5
Mandy,4.0,9.0,NaN,3.0,8.0,7,4
Lenny,2.0,5.0,8.0,9.0,NaN,3,6
Joan,3.0,NaN,9.0,4.0,9.0,5,5
Tino,1.0,1.0,NaN,9.0,5.0,1,8

[Back to top](#-Index)

### Problem 2

#### Completing the Table

**10 Points**

Complete the missing data for all users in `reviews` using the same process as above.  Assign the completed review data to `df_full` below. 

HINT: Use a for loop to iterate over all columns. See solution set for Activity 19.1 for an example

In [12]:
reviews

,Michael Jackson,Clint Black,Dropdead,Anti-Cimex,Cardi B,slick,lofi
Alfred,3.0,4.0,NaN,4.0,4.0,5,5
Mandy,NaN,9.0,NaN,3.0,8.0,7,4
Lenny,2.0,5.0,8.0,9.0,NaN,3,6
Joan,3.0,NaN,9.0,4.0,9.0,5,5
Tino,1.0,1.0,NaN,9.0,5.0,1,8

In [13]:
### GRADED
features = ["slick", "lofi"]
targets = ["Michael Jackson", "Clint Black", "Dropdead", "Anti-Cimex", "Cardi B"]
df_full = reviews.copy()

for target in targets:
    users = list(reviews.index[reviews[target].isnull()])
    for user in users:
        user_df = reviews.query("index != '%s'" % user)[features + [target]].dropna()
        model = LinearRegression().fit(user_df[features], user_df[target])
        newx = reviews.query("index == '%s'" % user)[features]
        df_full.loc[[user], target] = model.predict(newx)

### ANSWER CHECK
df_full

,Michael Jackson,Clint Black,Dropdead,Anti-Cimex,Cardi B,slick,lofi
Alfred,3.0,4.0,9.0,4.0,4.0,5,5
Mandy,4.0,9.0,10.0,3.0,8.0,7,4
Lenny,2.0,5.0,8.0,9.0,5.0,3,6
Joan,3.0,6.0,9.0,4.0,9.0,5,5
Tino,1.0,1.0,6.8,9.0,5.0,1,8